:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --title-color: #101828;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


.alinhar{
    width: 85vw;
    margin: 0 auto;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 1rem 0;
    font-weight: 500;
}

.navBar__menu{
    margin-right: 15vw;
}

.navBar__menu a{
    text-decoration: none;
    margin-right: 2rem;
}

.navBar__menu a:hover{
    color: rgb(42, 42, 42);
}

.botao{
    cursor: pointer;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.8rem 1rem;
    background: none;
    border: none;
    border-radius: 0.5rem;
}

.botao:hover{
    background-color: #e8e8e8;
    color: black;
}

.botao:active{
    background-color: #d5d5d5;
}

.botao--color-red{
    background-color: var(--main-color);
    color: white;
}

.botao--color-red:hover{
    color: white;
    background-color: #a32929;
}

.botao--color-red:active{
    background-color: #bb3030;
}

.botao--font-bigger{
    font-size: 1rem;
}

.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 96px 0;
}

.cabecalho__span{
    font-weight: 600;
}

.cabecalho__titulo{
    font-size: 3rem;
    margin: 24px 0;
    font-weight: 600;
}

.cabecalho__descricao{
    font-size: 1.3rem;
    width: 65vw;
    text-align: center;
}

@media screen and (max-width: 920px){
    .metricas{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 96px;
        gap: 2vw;
    }
}

.metricas{
    display: flex;
    justify-content: center;
    padding-bottom: 96px;
    gap: 2vw;
}

.metricas__div{
    max-width: 20vw;
}

.metricas__div h2{
    font-size: 3.75rem;
    font-weight: 600;
}

.metricas__div h4{
    margin: 12px 0px 8px 0px;
    font-size: 1.125rem;
}

.metricas__div p{
    font-size: 1rem;
}

.vagas{
    padding: 96px 0px;
}

.vagas__talentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.vagas__talentos span{
    border-radius: 1rem;
    background: rgba(142, 36, 36, 0.05);
    padding: 4px 12px;
}

.vagas__talentos h2{
    margin: 16px 0px 20px 0px;
    font-size: 2.25rem;
}

.vagas__talentos p{
    font-size: 1.25rem;
}

.vagas__talentos img{
    margin: 64px 0px 64px 0px;
    width: 85vw;
    height: auto;
}

.vagas-abertas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.vagas-abertas__job{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

.vagas-abertas h4{
    font-size: 1.25rem;
    margin-bottom: 8px;
    font-weight: 500;
}

.vagas-abertas__job-post{
    width: 53.333vw;
    padding: 1.5rem 1.5rem 1.75rem 1.5rem;
    border: 1px solid #EAECF0;
    border-radius: 1rem;
}

.vagas-abertas__job-post:hover{
    background-color: #EAECF0;
}

.vagas-abertas__texto{
    display: flex;
    gap: 1.5rem;
}

.vagas-abertas div h5{
    font-size: 1.125rem;
    font-weight: 500;
}

.vagas-abertas div p{
    margin-top: 32px;
    font-size: 1rem;
}

.depoimentos{
    display: flex;
    justify-content: center;
    padding-bottom: 96px;
    text-align: center;
}

.depoimentos div{
    background-color: rgba(195, 25, 25, 0.03);
    border-radius: 1rem;
    width: 85vw; /*border-box - padding do not add width*/
    height: auto;
    padding: 4.5vw;
    max-width: 85vw;
}

.depoimentos div span{
    font-size: 0.875rem;
    font-weight: 600;
}

.depoimentos div h2{
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 2.25rem;
}

.depoimentos div h4{
    margin-top: 16px;
    margin-bottom: 4px;
    font-size: 1rem;
}

.depoimentos div p{
    font-size: 0.875rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAFB;
    padding: 96px 0px;
}

.formulario h2{
    font-weight: 600;
    font-size: 2.25rem;
}

.formulario p{
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
}

.formulario form{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.formulario input{
    font-size: 1rem;
    font-weight: 400;
    padding: 0.8rem 0.875rem 0.8rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #D0D5DD;
    color: var(var(--text-color));
    width: 25vw;
}

.formulario input:hover{
    color: black;
}

.formulario span{
    font-size: 1rem;
    font-weight: 400;
    color: #98A2B3;
    margin-top: 32px;
}


/* MODIFIERS */
.font-main-color{
    color: var(--main-color);
}

.font-title{
    color: var(--title-color);
}

.font-text{
    color: var(--text-color);
}
